{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}SNI{% endblock %}

{% block body_class %}home{% endblock %}

{% block body_base %}
    <section class="jumbotron">
        <div class="container">
            {% include "_messages.html" %}
            {% if not user.is_authenticated %}
            {% url "account_login" as login_url %}
            {% url "account_signup" as signup_url %}

            <div class="container homesni">
                <h2 class="text-center">{% blocktrans %}SNI{% endblocktrans %}</h2>
                <p class="lead">
                    {% blocktrans %}
                    <b>SNI</b> is django reusuable app for buy/sell for univercities. Just either add your thing or buy whatever you want.
                    {% endblocktrans %}
                </p>
            </div>
            <div class="row">
                <div class="col-md-4 col-md-offset-4 loginhome">
                    <p>
                        {% blocktrans %}
                            Already have account <a href="{{ login_url }}" class="btn btn-default">Log In</a>
                        {% endblocktrans %}
                    </p> <br>
                    <p>
                        {% blocktrans %}
                            New here <a href="{{ signup_url }}" class="btn" style="background-color: #00ccff; color: white">Sign Up</a>
                        {% endblocktrans %}
                    </p>
                </div>
            </div>
            {% else %}
            <div class="row">
                <div class="col-md-8 search">
                    <input type="text" placeholder="What are you looking for..." >
                </div>
                <div class="col-md-3 col-md-offset-1 addbutton">
                    <a href="{%url 'add_item' %}" class="button btn-lg active"><i class="fa fa-plus fa-2x" > ADD</i></a>
                </div>
            </div>
            <div class="row" style="margin-top:5%;">
            {% for i,j in  things %}
                <div class="col-md-3" style="padding-top: 5%;">
                    <div class="card" style="border-style: dotted;border-width: 2px;border-color:#00ccff;">
                        <img class="card-img-top" src="{{ j }}" alt="Card image cap" height="200px" style="width:100%;">
                        <div class="card-block">
                            <div class="card-text">
                                <h4 style="float:left;margin-left:2%;">{{ i.itemname }}</h4>
                                <h4 style="float:right;margin-right:2%;">{{ i.rate }} &#8377</h4>
                            </div>

                            <a href="{%url 'buyitem' item_id=i.id %}" class="btn" style="width:100%; background-color: #00ccff; color: white; font-weight: bold">Buy</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
            {% endif %}
        </div>
    </section>
{% endblock %}
