{% extends "site_base.html" %}

{% load account_tags %}
{% load i18n %}
{% load bootstrap %}

{% block head_title %}{% trans "Buy" %}{% endblock %}


{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h3>Item details and contact</h3>
        </div>
        <div class="col-md-6">
            <img src="" class="img-responsive">
        </div>
        <div class="col-md-6">
            <li>
                ITEM NAME - CALC
            </li>
            <li>
                RATE - 2000
            </li>
            <li>
                OWNER'S USERNAME - SINWAR
            </li>
            <li>
                OWNER'S FIRST NAME - PREM
            </li>
            <li>
                OWNER'S LAST NAME - SINWAR
            </li>
            <li>
                MOBILE NUMBER - 9783856766
            </li>
            <li>
                FACEBOOK ACCOUNT URL - KHSKHLSDKG
            </li>
        </div>
    </div>

{% endblock %}