{% extends "site_base.html" %}

{% load account_tags %}
{% load i18n %}
{% load bootstrap %}

{% block head_title %}{% trans "Buy" %}{% endblock %}


{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h3>Item details and contact</h3>
        </div>
        <div class="col-md-6">
            <img src="{{ path }}" class="img-responsive">
        </div>
        <div class="col-md-6">
            <li>
                ITEM NAME - {{ thing.itemname }}
            </li>
            <li>
                RATE - {{ thing.rate }}
            </li>
            <li>
                ITEM DETAIL - {{ thing.details }}
            </li>
            <li>
                OWNER'S USERNAME - {{ profile.user }}
            </li>
            <li>
                OWNER'S FIRST NAME - {{ profile.first_name }}
            </li>
            <li>
                OWNER'S LAST NAME - {{ profile.last_name }}
            </li>
            <li>
                MOBILE NUMBER - 9783856766
            </li>
            <li>
                FACEBOOK ACCOUNT URL - KHSKHLSDKG
            </li>
        </div>
    </div>

{% endblock %}