{% extends "sni/base.html" %}
{% load bootstrap %}
{% load i18n %}
<!--- template for notifications view -->
{% block body %}
    <div class="row">

        {% for i in notifications %}
            <div class="notifications">
                <div class="col-md-4">
                    <h4>{{ i.message }}</h4>
                </div>
                <div class="col-md-4">
                    <a href="#" class="btn btn-info btn-lg"> ACCEPT </a>
                </div>
                <div class="col-md-4">
                    <a href="#" class="btn btn-default btn-lg"> DECLINE </a>
                </div>
            </div>
        {% endfor %}

    </div>
{% endblock %}